*.aux
*.sty
*.auxlock
*.log
*.toc
*.pdf
*.out
*.nav
*.snm
*.synctex.gz
*.bcf
*.xml
*.bbl
*.blg
*.idx
*.ilg
*.ind
*.glo
*.gls
*.diff
_minted-*/
*~
*.py
*.py.err
*.md5
texmf/*
*.tds.zip
*-converted-to.*
*.swp
